@charset "utf-8";

/**
 * Created by shengliu on 2018-04-10.
 */

 /* common */
*,
 :after,
 :before {
    box-sizing: border-box;
}

hr {
    margin: 0;
}

/* 列表去除默认样式 */

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

html,
body {
    display: block;
    margin: 0;
    background-color: #040001;
    color: #1694f4;
    font-size: 16px;
    line-height: 1.5;
    font-family: 微软雅黑, Microsoft YaHei, 宋体, Tahoma, Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1300px;
    min-height: 600px;
    overflow: auto;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url('../images/dp-back.png');
    background-size: cover;
}


/* 头部 */

.topContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 9%;
    margin-bottom: 1%;
    background-image: url('../images/top-name.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    overflow: hidden;
}

.top-time {
    position: absolute;
    right: 14px;
    bottom: -5px;
    color: #fff;
    font-size: 0.9rem;
}

/* 外围框架 */

.ltContainer {
    position: absolute;
    left: 1%;
    top: 10%;
    width: 29%;
    height: 35%;
}

.lbContainer {
    position: absolute;
    left: 1%;
    top: 46%;
    width: 29%;
    height: 53%;
}

.centerContainer {
    position: absolute;
    left: 31%;
    top: 10%;
    width: 38%;
    height: 89%;
    overflow: auto;
}

.rtContainer {
    position: absolute;
    left: 70%;
    top: 10%;
    width: 29%;
    height: 34%;
}

.rcContainer {
    position: absolute;
    left: 70%;
    top: 45%;
    width: 29%;
    height: 24%;
}

.rbContainer {
    position: absolute;
    left: 70%;
    top: 70%;
    width: 29%;
    height: 29%;
}

.container {
    border: 1px solid rgba(46, 98, 194, 0.7);
}


/* 标题样式 */

.containerName {
    position: absolute;
    left: 15px;
    top: 5px;
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    background: url('../images/title-line.png') no-repeat center bottom;
    background-size: 100% auto;
    font-size: 1rem;
    font-weight: normal;
}

.echarts {
    width: 100%;
    height: 500px;
}


/* 务工人员 */

.workerPanel {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.chartContainer {
    width: 100%;
    height: 100%;
}


/* 专户交易数据 */

.accInfoTopPanel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
    margin-top: 2%;
    text-align: center;
}

.accInfoMsgs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-top: 1px solid #1f4084;
    border-bottom: 1px solid #1f4084;
}

.accInfoMsg-item {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #1f4084;
    font-size: 0.75rem;
    text-align: center;
}

.accInfoBottomPanel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 48%;
}

.detailName {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0 32px;
    background-color: rgba(61, 67, 119, 0.5);
    line-height: 26px;
    height: 26px;
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
}

   .dtIcon {
        position: absolute;
        display: inline-block;
        width: 19px;
        height: 11px;
        background-size: 100%;
    }
    .dtIcon-lt {
        left: 0;
        top: 0;
        background: url('../images/tt-lt.png') no-repeat;
    }
    .dtIcon-lb {
        left: 0;
        bottom: 0;
        background: url('../images/tt-lb.png') no-repeat;
    }
    .dtIcon-rt {
        right: 0;
        top: 0;
        background: url('../images/tt-rt.png') no-repeat;
    }
    .dtIcon-rb {
        right: 0;
        bottom: 0;
        background: url('../images/tt-rb.png') no-repeat;
    }

.detailWrap {
    position: absolute;
    left: 2%;
    bottom: 4%;
    right: 2%;
    top: 31px;
    background: rgba(2, 16, 27, 0.45);
    padding: 0 10px;
}

.accDetail-showL {
    position: absolute;
    left: 25%;
    font-size: 0.75rem;
    color: #fff;
}

.accDetail-showR {
    position: absolute;
    right: 25%;
    font-size: 0.75rem;
    color: #fff;
}

/* 中间地图 */

.projectDataPanel {
    width: 100%;
    height: auto;
    background: url('../images/base-data-bg.png') no-repeat center bottom;
    background-size: 100% auto;
    text-align: center;
    margin-bottom: 10px;
}

.data-list {
    margin: 20px 10px;
    padding: 15px 0;
    overflow: hidden;
}

.data-item {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    text-align: right;
    line-height: 120%;
}

.data-item .data-item-num {
    font-weight: normal;
    font-size: 1.5rem;
}

.data-item .data-item-name {
    color: #70bcf1;
}

.projectMapPanel {
    width: 100%;
    height: 400px;
}

/* 视频监控 */

.warningImgPanel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.img-gallary {
    position: absolute;
    top: 36px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.img-gallary-item {
    overflow: hidden;
}

.img-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/img-box.png') no-repeat;
    background-size: 100%;
    padding: 12% 2% 2%;
}

.img-bg img {
    width: 100%;
    height: 100%;
}

.img-big {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 64%;
    padding: 1%;
}

.img-sm-t {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 50%;
    width: 36%;
    padding: 1%;
}

.img-sm-b {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 36%;
    padding: 1%;
}

/* 实时考勤统计 */

.warningImgPanel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.kqRecord-list {
    position: absolute;
    top: 36px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 0;
}

.kqRecord-item {
    width: 100%;
    height: 33%;
    overflow: hidden;
    font-size: 0.9rem;
}

.item-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/kqrecord-icons.png') no-repeat;
    background-size: 24px auto;
}

.project-icon {
    background-position: 0 0;
}

.group-icon {
    background-position: 0 -26px;
}

.worker-icon {
    background-position: 0 -53px;
}

.record-count {
    font-size: 1.2rem;
}

/* 实时项目考勤 */
.presentRecordPanel {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wages {
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.wages-title {
    width: 100%;
    font-size: 0.9rem;
    overflow: hidden;
    margin-bottom: 5px;
}

.wages-wrap {
    position: absolute;
    left: 0;
    top: 32px;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    overflow: auto;    
}

.wages-list {
    width: 100%;
    font-size: 0.75rem;
    overflow: hidden;
    margin-bottom: 5px;
}

.fc-g {
    color: #559068;
}

.wages-item {
    display: inline-block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wages-name {
    width: 40%;
}

.wages-worker {
    width: 20%;
}

.wages-group {
    width: 20%;
}

.wages-count {
    width: 20%;
}

.wages-count span {
    display: inline-block;
    max-width: 100%;
    padding: 0 15px;
    border-radius: 50px;
    background: #40a260;
    color: #fff;
    text-align: center;
}

.wages-count span.levelA {
    background: #40a260;
}

.wages-count span.levelB {
    background: #df9630;
}

.wages-count span.levelC {
    background: #d22b1d;
}